<a href="https://colab.research.google.com/github/Darakhshan08/Colab_Gov/blob/main/Class1_Gov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('786')

786

#***hello world***

#h1

**Bold**

*italic*

- Bullet

1.   List item
2.   List item

*   List item
*   List item


 `dfgdgdg`

> Add blockquote

---

In [ ]:
print('Hello World')

In [ ]:
print('Hello Python')

Hello Python

In [ ]:
#full_name : str = "Darakhshan"
full_name : int = "Darakhshan"
print(type(full_name))

<class 'str'>

In [ ]:
any_number : int = 12
print(any_number)
print(type(any_number))

12
<class 'int'>

In [ ]:
float_number : float = 12.232
print(float_number)
print(type(float_number))

12.232
<class 'float'>

In [ ]:
is_teacher : bool = True
print(is_teacher)
print(type(is_teacher))

True
<class 'bool'>

3. Sequence Types

These store multiple items in an ordered way.

a. String (str)

bold text
A sequence of characters enclosed in quotes

In [ ]:
text_double: str = "Hello, python!"    # Strings with Double Quotes (")
text_single: str  = 'Hello, Python!' # Strings with Single Quotes (')
text_multi: str   = '''Hello, Python!''' # Multi-Line Strings with Triple Quotes (''' or """)
text_multi_1: str = """Hello, Python!""" # Multi-Line Strings with Triple Quotes (''' or """)

print(type(text_double), "Text_double  = ", text_double)  # <class 'str'>
print(type(text_single), " text_single   = ", text_single)    # <class 'str'>
print(type(text_multi), " text_multi    = ", text_multi)      # <class 'str'>
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)  # <class 'str'>

<class 'str'> Text_double  =  Hello, python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

b. List (list)

An ordered, mutable collection.

In [ ]:
my_list_1: int = [1,2,3,"java", 3.14, True] #Type hinting is not enforced in python, but you should mention appropriate data type in this case 'list'
my_list: list = [1,2,3, "python", 3.14, 3+2j]

print(type(my_list_1), " my_list_1 = ", my_list_1)  # <class 'list'>
print(type(my_list), " my_list  =  " + str(my_list))   # we will look into type casting in classes ahead

<class 'list'>  my_list_1 =  [1, 2, 3, 'java', 3.14, True]
<class 'list'>  my_list  =  [1, 2, 3, 'python', 3.14, (3+2j)]

#c. Tuple (tuple)

An ordered, immutable collection.

In [2]:
my_tuple: tuple = (1,2,3,"AI", 2.71, False, .3 , 3+2j )
print(type(my_tuple), " my_tuple = ", my_tuple )  # <class 'tuple'>

<class 'tuple'>  my_tuple =  (1, 2, 3, 'AI', 2.71, False, 0.3, (3+2j))

#d. Range (range)

Represents a sequence of numbers.

In [7]:
num_range: range = range(1, 10, 2)  # range(start, stop, step)
print(type(num_range), "num_range = ", num_range.step)  # <class 'range'>
print(type(num_range), "num_range = ", num_range.start)
print(type(num_range), "num_range = ", num_range.stop)
print(type(num_range), "num_range = ", num_range.index)
print(type(num_range), "num_range = ", num_range.count)

<class 'range'> num_range =  2
<class 'range'> num_range =  1
<class 'range'> num_range =  10
<class 'range'> num_range =  <built-in method index of range object at 0x7e54ba84d0e0>
<class 'range'> num_range =  <built-in method count of range object at 0x7e54ba84d0e0>

In [8]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

#Class 1 code

In [12]:
full_name : str = "Darakhshan"
full_name : int = "Darakhshan"  # type string he show ho ge cheheye ap int bhi likh den
print(full_name)
print(type(full_name))

Darakhshan
<class 'str'>

In [14]:
any_number: int = 22
print(any_number)
print(type(any_number))

22
<class 'int'>

In [15]:
float_number = 12.232
print(type(float_number))

<class 'float'>

In [16]:
is_teacher : bool = True
print(type(is_teacher))

<class 'bool'>

#Lesson 03: Operators, Keywords & Variables

#concatination  

2 str valuse ko aik sath karne k lia

In [19]:
first_name: str = 'darakhshan'
last_name: str = "Shah"

full_name: str = first_name + ' ' + last_name

print(full_name)

darakhshan Shah

##f""  (f string for concatination (in type script use template litrals))

when you can not use opretors(+)or "" you can use f srting for concatination

apne string me koi bhi value dynamic dekhani ho tu is k lia f"" (f string) use kren ge

In [20]:
first_name: str = 'darakhshan'
last_name: str = "Shah"

full_name: str = f"{first_name} {last_name}"  # f""(f string) when you can not use opretors(+)or "" you can use f srting for concatination

print(full_name)

darakhshan Shah

#dog string

triple Cotation """ jab use karen ge jab bhi line break karni ho

In [27]:
achievement: str = " Thrilled to \n share i'm passing Q2 exam!" # \n for break the line one time

achievements: str = """ Thrilled to
 share i'm passing
  Q2 exam!"""             # """ triple cotation for braeke the line where you enter


print(achievement,achievements)

 Thrilled to
 share i'm passing Q2 exam!  Thrilled to
 share i'm passing
  Q2 exam!

#dog string


apne string me koi bhi value dynamic dekhani ho tu is k lia f"" (f string) use kren ge

In [45]:
quarter: str = "Q3"

achievement1: str = f""" Thrilled to
 share i'm passing {quarter}
   exam!"""             # ye {quarter} ko as a text consider kare ga but agher """ triple cotation se pehle f laga den ge tu ye {quarter} ko as a variable consider kare ga

print(achievement1)
print(type(achievement1),  achievement1)

 Thrilled to
 share i'm passing Q3
   exam!
<class 'str'>  Thrilled to
 share i'm passing Q3
   exam!

In [17]:
quarter: str = "Q3"

achievement1: str = f""" Thrilled to
 share i'm passing {quarter}
   exam!"""             # ye {quarter} ko as a text consider kare ga but agher """ triple cotation se pehle f laga den ge tu ye {quarter} ko as a variable consider kare ga


print(id(achievement1))  # variable memory me jahan stor hua hai is box ka refrence No yani is box ki id

138938116745008

In [57]:
a: int = 10
b :int = 3

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a // b = ", a // b)
print("a % b = ", a % b)
print("a ** b = ", a ** b) # 10 * 10 *10  (10 * 10(100) * 10(1000))

a + b =  13
a - b =  7
a * b =  30
a / b =  3.3333333333333335
a // b =  3
a % b =  1
a ** b =  1000

In [66]:
x: int = 10
y: int = 5

print("x == y ", x == y )
print("x != y ", x != y  )
print("x > y ", x > y  )
print("x < y ", x < y  )
print("x >= y ", x >= y  )
print("x <= y ", x <= y  )

x == y  False
x != y  True
x > y  True
x < y  False
x >= y  True
x <= y  False

In [8]:
x: bool = True
y: bool = False

print("x and y = ", x and y)
print("x or y = ", x or y)
print("not x = ", not x)
print("not y = ", not y)

x and y =  False
x or y =  True
not x =  False
not y =  True

In [16]:
x = 5
print(x)

x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x //= 3
print(x)

5
8
5
15
5.0
1.0

#LIST

In [24]:
fruits = ["mango" ,"banana", "grapes"]
print(fruits)
print(len(fruits))
print(fruits[0])
print(fruits[0: 2])   # 2 values se pehle pehle ki value bataye ga

['mango', 'banana', 'grapes']
3
mango
['mango', 'banana']